Repository RE-BON/ReBoN, pull requests merged in 2022-07, with the labels that each got.

#239 [#233] Detail, Review, Footprint 반응형 페이지 제작
  FrontEnd/rebon-frontend/package-lock.json
  FrontEnd/rebon-frontend/package.json
  FrontEnd/rebon-frontend/public/image/mypage-background.png
  FrontEnd/rebon-frontend/public/index.html
  FrontEnd/rebon-frontend/src/components/Header/index.js
  FrontEnd/rebon-frontend/src/pages/Detail/Carousel/index.js
  FrontEnd/rebon-frontend/src/pages/Detail/Map/index.js
  FrontEnd/rebon-frontend/src/pages/Detail/Review/ReviewContent/index.js
  FrontEnd/rebon-frontend/src/pages/Detail/Review/index.js
  FrontEnd/rebon-frontend/src/pages/Detail/index.js
  FrontEnd/rebon-frontend/src/pages/Main/index.js
  FrontEnd/rebon-frontend/src/pages/Mypage/Footprint/FootprintModal/index.js
  FrontEnd/rebon-frontend/src/pages/Mypage/Footprint/index.js
  FrontEnd/rebon-frontend/src/pages/Mypage/index.js
  FrontEnd/rebon-frontend/src/styles/detail.css
  FrontEnd/rebon-frontend/src/styles/footprint.css
  FrontEnd/rebon-frontend/src/styles/header.css
  FrontEnd/rebon-frontend/src/styles/mypage.css
  FrontEnd/rebon-frontend/src/styles/review-modal.css
  FrontEnd/rebon-frontend/src/styles/review.css
  FrontEnd/rebon-frontend/src/styles/slick-theme.css
  FrontEnd/rebon-frontend/src/styles/slick.css
  FrontEnd/rebon-frontend/src/styles/toggle.css
Labels: frontend, style

#197 [#141]: 내 정보 수정 기능
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/handong/rebon/member/application/MemberService.java
  backend/src/main/java/com/handong/rebon/member/application/dto/MemberDtoAssembler.java
  backend/src/main/java/com/handong/rebon/member/application/dto/request/MemberUpdateRequestDto.java
  backend/src/main/java/com/handong/rebon/member/application/dto/response/MemberReadResponseDto.java
  backend/src/main/java/com/handong/rebon/member/domain/Member.java
  backend/src/main/java/com/handong/rebon/member/presentation/ApiMemberController.java
  backend/src/main/java/com/handong/rebon/member/presentation/dto/MemberAssembler.java
  backend/src/main/java/com/handong/rebon/member/presentation/dto/request/MemberUpdateRequest.java
  backend/src/main/java/com/handong/rebon/member/presentation/dto/response/MemberReadResponse.java
  backend/src/test/java/com/handong/rebon/acceptance/member/MemberUpdateAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/integration/member/MemberUpdateIntegrationTest.java
Labels: feature, backend, api

#195 [#140] 내 정보 조회 기능
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/handong/rebon/auth/presentation/AuthController.java
  backend/src/main/java/com/handong/rebon/member/application/dto/response/MemberReadResponseDto.java
  backend/src/test/java/com/handong/rebon/acceptance/member/MemberReadAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/integration/member/MemberReadIntegrationTest.java
Labels: feature, backend, api

#241 [#240] Mypage 이미지 경로 수정
  FrontEnd/rebon-frontend/src/styles/mypage.css
Labels: frontend, fix

#253 [#222] Main 페이지 api 연결
  FrontEnd/rebon-frontend/config/env.js
  FrontEnd/rebon-frontend/config/getHttpsConfig.js
  FrontEnd/rebon-frontend/config/jest/babelTransform.js
  FrontEnd/rebon-frontend/config/jest/cssTransform.js
  FrontEnd/rebon-frontend/config/jest/fileTransform.js
  FrontEnd/rebon-frontend/config/modules.js
  FrontEnd/rebon-frontend/config/paths.js
  FrontEnd/rebon-frontend/config/webpack.config.js
  FrontEnd/rebon-frontend/config/webpack/persistentCache/createEnvironmentHash.js
  FrontEnd/rebon-frontend/config/webpackDevServer.config.js
  FrontEnd/rebon-frontend/package-lock.json
  FrontEnd/rebon-frontend/package.json
  FrontEnd/rebon-frontend/scripts/build.js
  FrontEnd/rebon-frontend/scripts/start.js
  FrontEnd/rebon-frontend/scripts/test.js
  FrontEnd/rebon-frontend/src/Router.js
  FrontEnd/rebon-frontend/src/components/Header/SearchModal/index.js
  FrontEnd/rebon-frontend/src/pages/Main/BestCard/index.js
  FrontEnd/rebon-frontend/src/pages/Main/Divider/index.js
  FrontEnd/rebon-frontend/src/pages/Main/MainCard/index.js
  FrontEnd/rebon-frontend/src/pages/Main/MainCategoryData/index.js
  FrontEnd/rebon-frontend/src/pages/Main/MainData/index.js
  FrontEnd/rebon-frontend/src/pages/Main/MainShopData/index.js
  FrontEnd/rebon-frontend/src/pages/Main/Practice/index.js
  FrontEnd/rebon-frontend/src/pages/Main/index.js
  FrontEnd/rebon-frontend/src/pages/Search/Tags/index.js
  FrontEnd/rebon-frontend/src/pages/Search/index.js
  FrontEnd/rebon-frontend/src/styles/common 2.css
  FrontEnd/rebon-frontend/src/styles/main.css
Labels: frontend

#247 shop 도메인 수정
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/handong/rebon/common/TempDataInitializer.java
  backend/src/main/java/com/handong/rebon/review/application/ReviewService.java
  backend/src/main/java/com/handong/rebon/shop/application/ShopService.java
  backend/src/main/java/com/handong/rebon/shop/application/adapter/CafeServiceAdapter.java
  backend/src/main/java/com/handong/rebon/shop/application/adapter/LodgingServiceAdapter.java
  backend/src/main/java/com/handong/rebon/shop/application/adapter/RestaurantServiceAdapter.java
  backend/src/main/java/com/handong/rebon/shop/application/dto/request/ShopRequestDto.java
  backend/src/main/java/com/handong/rebon/shop/application/dto/response/ShopResponseDto.java
  backend/src/main/java/com/handong/rebon/shop/application/dto/response/ShopSimpleResponseDto.java
  backend/src/main/java/com/handong/rebon/shop/domain/Shop.java
  backend/src/main/java/com/handong/rebon/shop/domain/content/ShopScore.java
  backend/src/main/java/com/handong/rebon/shop/domain/location/Location.java
  backend/src/main/java/com/handong/rebon/shop/domain/type/Cafe.java
  backend/src/main/java/com/handong/rebon/shop/domain/type/Lodging.java
  backend/src/main/java/com/handong/rebon/shop/domain/type/Restaurant.java
  backend/src/main/java/com/handong/rebon/shop/presentation/dto/request/ShopRequest.java
  backend/src/main/java/com/handong/rebon/shop/presentation/dto/response/ShopResponse.java
  backend/src/main/java/com/handong/rebon/shop/presentation/dto/response/ShopSimpleResponse.java
  backend/src/main/resources/templates/shop/createForm.html
  backend/src/main/resources/templates/shop/updateForm.html
  backend/src/test/java/com/handong/rebon/acceptance/shop/ShopReadAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/common/admin/AdminShopRegister.java
  backend/src/test/java/com/handong/rebon/integration/category/CategoryUpdateIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/review/ReviewIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/shop/ShopIntegrationTest.java
Labels: backend, refactor

#257 fix[#255]: main-api 오류 해결
  FrontEnd/rebon-frontend/package-lock.json
  FrontEnd/rebon-frontend/package.json
  FrontEnd/rebon-frontend/src/pages/Main/BestCard/index.js
  FrontEnd/rebon-frontend/src/pages/Main/Divider/index.js
  FrontEnd/rebon-frontend/src/pages/Main/MainCard/index.js
  FrontEnd/rebon-frontend/src/pages/Main/MainShopData/index.js
  FrontEnd/rebon-frontend/src/pages/Main/Practice/index.js
  FrontEnd/rebon-frontend/src/pages/Main/index.js
Labels: frontend, fix
