Repository RE-BON/ReBoN, pull requests merged in 2022-04, with the labels that each got.

#93 [#37] 리뷰 삭제
  backend/src/main/java/com/handong/rebon/common/BaseEntity.java
  backend/src/main/java/com/handong/rebon/exception/member/MemberException.java
  backend/src/main/java/com/handong/rebon/exception/member/MemberForbiddenException.java
  backend/src/main/java/com/handong/rebon/exception/member/MemberNotFoundException.java
  backend/src/main/java/com/handong/rebon/exception/review/ReviewNotFoundException.java
  backend/src/main/java/com/handong/rebon/member/application/MemberService.java
  backend/src/main/java/com/handong/rebon/member/domain/Member.java
  backend/src/main/java/com/handong/rebon/review/application/ReviewService.java
  backend/src/main/java/com/handong/rebon/review/application/dto/request/ReviewDeleteRequestDto.java
  backend/src/main/java/com/handong/rebon/review/domain/Review.java
  backend/src/main/java/com/handong/rebon/shop/domain/location/Location.java
  backend/src/test/java/com/handong/rebon/integration/review/ReviewDeleteIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/review/ReviewIntegrationTest.java
  backend/src/test/java/com/handong/rebon/unit/member/domain/MemberTest.java
Labels: backend, admin, api

#99 [#13] Category 조회 API 구현
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/handong/rebon/category/application/CategoryService.java
  backend/src/main/java/com/handong/rebon/category/application/dto/CategoryDtoAssembler.java
  backend/src/main/java/com/handong/rebon/category/application/dto/request/CategoryRequestDto.java
  backend/src/main/java/com/handong/rebon/category/application/dto/response/ChildCategoryDto.java
  backend/src/main/java/com/handong/rebon/category/application/dto/response/RootCategoryResponseDto.java
  backend/src/main/java/com/handong/rebon/category/domain/Category.java
  backend/src/main/java/com/handong/rebon/category/domain/repository/CategoryRepository.java
  backend/src/main/java/com/handong/rebon/category/presentation/ApiCategoryController.java
  backend/src/main/java/com/handong/rebon/category/presentation/dto/CategoryAssembler.java
  backend/src/main/java/com/handong/rebon/category/presentation/dto/response/ChildCategoryResponse.java
  backend/src/main/java/com/handong/rebon/category/presentation/dto/response/RootCategoryResponse.java
  backend/src/main/java/com/handong/rebon/exception/category/CategoryIdException.java
  backend/src/main/java/com/handong/rebon/shop/application/ShopService.java
  backend/src/test/java/com/handong/rebon/acceptance/category/CategoryReadAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/integration/category/CategoryCreateIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/category/CategoryIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/category/CategoryReadIntegrationTest.java
  backend/src/test/java/com/handong/rebon/unit/category/domain/CategoryTest.java
Labels: feature, backend, api

#96 [#95] 삭제되지 않은 리뷰 조회
  backend/src/main/java/com/handong/rebon/common/BaseEntity.java
  backend/src/main/java/com/handong/rebon/review/application/ReviewService.java
  backend/src/main/java/com/handong/rebon/review/domain/Review.java
  backend/src/main/java/com/handong/rebon/review/domain/repository/ReviewRepository.java
  backend/src/main/java/com/handong/rebon/review/domain/repository/ReviewRepositoryCustom.java
  backend/src/main/java/com/handong/rebon/review/domain/repository/ReviewRepositoryCustomImpl.java
  backend/src/test/java/com/handong/rebon/integration/review/ReviewDeleteIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/review/ReviewIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/review/ReviewReadIntegrationTest.java
Labels: backend, admin, api

#98 [#14] 태그 조회 기능
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/handong/rebon/RebonApplication.java
  backend/src/main/java/com/handong/rebon/exception/category/CategoryException.java
  backend/src/main/java/com/handong/rebon/exception/review/ReviewException.java
  backend/src/main/java/com/handong/rebon/exception/shop/ShopException.java
  backend/src/main/java/com/handong/rebon/exception/tag/TagException.java
  backend/src/main/java/com/handong/rebon/exception/tag/TagIdException.java
  backend/src/main/java/com/handong/rebon/tag/application/TagService.java
  backend/src/main/java/com/handong/rebon/tag/application/dto/TagDtoAssembler.java
  backend/src/main/java/com/handong/rebon/tag/application/dto/response/TagResponseDto.java
  backend/src/main/java/com/handong/rebon/tag/domain/Tag.java
  backend/src/main/java/com/handong/rebon/tag/domain/repository/ShopTagRepository.java
  backend/src/main/java/com/handong/rebon/tag/domain/repository/TagRepository.java
  backend/src/main/java/com/handong/rebon/tag/presentation/AdminTagController.java
  backend/src/main/java/com/handong/rebon/tag/presentation/ApiTagController.java
  backend/src/main/java/com/handong/rebon/tag/presentation/dto/TagAssembler.java
  backend/src/main/java/com/handong/rebon/tag/presentation/dto/response/TagResponse.java
  backend/src/test/java/com/handong/rebon/acceptance/tag/TagReadAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/integration/tag/TagCreateIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/tag/TagIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/tag/TagReadIntegrationTest.java
Labels: feature, backend, admin

#110 가게 삭제 기능 구현
  backend/src/main/java/com/handong/rebon/common/BaseEntity.java
  backend/src/main/java/com/handong/rebon/common/TempDataInitializer.java
  backend/src/main/java/com/handong/rebon/exception/ExceptionResponse.java
  backend/src/main/java/com/handong/rebon/exception/category/CategoryException.java
  backend/src/main/java/com/handong/rebon/exception/review/ReviewException.java
  backend/src/main/java/com/handong/rebon/exception/shop/ShopException.java
  backend/src/main/java/com/handong/rebon/exception/tag/TagException.java
  backend/src/main/java/com/handong/rebon/review/application/ReviewService.java
  backend/src/main/java/com/handong/rebon/shop/application/ShopService.java
  backend/src/main/java/com/handong/rebon/shop/domain/Shop.java
  backend/src/main/java/com/handong/rebon/shop/domain/repository/ShopRepositoryCustomImpl.java
  backend/src/main/java/com/handong/rebon/shop/domain/type/Cafe.java
  backend/src/main/java/com/handong/rebon/shop/domain/type/Lodging.java
  backend/src/main/java/com/handong/rebon/shop/domain/type/Restaurant.java
  backend/src/main/java/com/handong/rebon/shop/presentation/AdminShopController.java
  backend/src/main/java/com/handong/rebon/shop/presentation/ApiShopController.java
  backend/src/main/java/com/handong/rebon/tag/application/TagService.java
  backend/src/main/java/com/handong/rebon/tag/application/dto/TagDtoAssembler.java
  backend/src/main/java/com/handong/rebon/tag/domain/repository/ShopTagRepository.java
  backend/src/main/java/com/handong/rebon/tag/domain/repository/TagRepository.java
  backend/src/main/java/com/handong/rebon/tag/presentation/ApiTagController.java
  backend/src/main/java/com/handong/rebon/tag/presentation/dto/TagAssembler.java
  backend/src/test/java/com/handong/rebon/acceptance/category/CategoryReadAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/acceptance/shop/ShopReadAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/acceptance/tag/TagReadAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/common/admin/AdminCategoryRegister.java
  backend/src/test/java/com/handong/rebon/common/admin/AdminShopRegister.java
  backend/src/test/java/com/handong/rebon/common/admin/AdminTagRegister.java
  backend/src/test/java/com/handong/rebon/integration/IntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/review/ReviewDeleteIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/review/ReviewIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/shop/ShopIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/tag/TagCreateIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/tag/TagIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/tag/TagReadIntegrationTest.java
Labels: feature, backend, admin

#113 가게 상세 조회 페이지 구현
  backend/src/main/java/com/handong/rebon/shop/application/dto/response/ShopResponseDto.java
  backend/src/main/java/com/handong/rebon/shop/presentation/AdminShopController.java
  backend/src/main/java/com/handong/rebon/shop/presentation/dto/response/ShopResponse.java
  backend/src/main/resources/templates/fragments/header.html
  backend/src/main/resources/templates/home.html
  backend/src/main/resources/templates/shop/createForm.html
  backend/src/main/resources/templates/shop/detail.html
Labels: backend, admin

#123 [#9] 가게 수정 기능
  backend/src/main/java/com/handong/rebon/common/ImageUploader.java
  backend/src/main/java/com/handong/rebon/shop/application/ShopService.java
  backend/src/main/java/com/handong/rebon/shop/application/adapter/CafeServiceAdapter.java
  backend/src/main/java/com/handong/rebon/shop/application/adapter/LodgingServiceAdapter.java
  backend/src/main/java/com/handong/rebon/shop/application/adapter/RestaurantServiceAdapter.java
  backend/src/main/java/com/handong/rebon/shop/application/adapter/ShopServiceAdapter.java
  backend/src/main/java/com/handong/rebon/shop/application/dto/request/ShopRequestDto.java
  backend/src/main/java/com/handong/rebon/shop/domain/Shop.java
  backend/src/main/java/com/handong/rebon/shop/domain/menu/MenuGroup.java
  backend/src/main/java/com/handong/rebon/shop/domain/type/Cafe.java
  backend/src/main/java/com/handong/rebon/shop/domain/type/Restaurant.java
  backend/src/main/java/com/handong/rebon/shop/infrastructure/S3ShopImageUploader.java
  backend/src/main/java/com/handong/rebon/shop/presentation/AdminShopController.java
  backend/src/main/java/com/handong/rebon/shop/presentation/dto/request/ShopRequest.java
  backend/src/test/java/com/handong/rebon/common/admin/AdminShopRegister.java
  backend/src/test/java/com/handong/rebon/common/fakebean/TestImageUploader.java
  backend/src/test/java/com/handong/rebon/integration/shop/ShopIntegrationTest.java
  backend/src/test/java/com/handong/rebon/unit/shop/application/adapter/CafeAdapterTest.java
  backend/src/test/java/com/handong/rebon/unit/shop/application/adapter/LodgingAdapterTest.java
  backend/src/test/java/com/handong/rebon/unit/shop/application/adapter/RestaurantAdapterTest.java
Labels: feature, backend, admin

#120 구글 로그인 및 회원 가입, jwt 생성 및 발급
  backend/.gitignore
  backend/build.gradle
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/handong/rebon/auth/application/AuthService.java
  backend/src/main/java/com/handong/rebon/auth/application/dto/request/LoginRequestDto.java
  backend/src/main/java/com/handong/rebon/auth/application/dto/response/LoginResponseDto.java
  backend/src/main/java/com/handong/rebon/auth/domain/OauthProperties.java
  backend/src/main/java/com/handong/rebon/auth/domain/OauthProvider.java
  backend/src/main/java/com/handong/rebon/auth/domain/OauthUserInfo.java
  backend/src/main/java/com/handong/rebon/auth/infrastructure/ApiRequester.java
  backend/src/main/java/com/handong/rebon/auth/infrastructure/JwtProvider.java
  backend/src/main/java/com/handong/rebon/auth/infrastructure/OauthAPIRequester.java
  backend/src/main/java/com/handong/rebon/auth/infrastructure/OauthHandler.java
  backend/src/main/java/com/handong/rebon/auth/presentation/AuthController.java
  backend/src/main/java/com/handong/rebon/auth/presentation/dto/response/TokenResponse.java
  backend/src/main/java/com/handong/rebon/config/OauthConfig.java
  backend/src/main/java/com/handong/rebon/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/handong/rebon/exception/dto/ExceptionResponse.java
  backend/src/main/java/com/handong/rebon/exception/dto/OAuthLoginFailErrorResponse.java
  backend/src/main/java/com/handong/rebon/exception/oauth/GetAccessTokenException.java
  backend/src/main/java/com/handong/rebon/exception/oauth/NoSuchOAuthMemberException.java
  backend/src/main/java/com/handong/rebon/exception/oauth/OauthException.java
  backend/src/main/java/com/handong/rebon/exception/oauth/UnableToGetTokenResponseException.java
  backend/src/main/java/com/handong/rebon/exception/oauth/UnsupportedOauthProviderException.java
  backend/src/main/java/com/handong/rebon/member/application/MemberService.java
  backend/src/main/java/com/handong/rebon/member/application/dto/request/MemberCreateRequestDto.java
  backend/src/main/java/com/handong/rebon/member/application/dto/response/MemberCreateResponseDto.java
  backend/src/main/java/com/handong/rebon/member/domain/Member.java
  backend/src/main/java/com/handong/rebon/member/domain/Profile.java
  backend/src/main/java/com/handong/rebon/member/domain/repository/MemberRepository.java
  backend/src/main/java/com/handong/rebon/member/presentation/MemberController.java
  backend/src/main/java/com/handong/rebon/member/presentation/dto/MemberAssembler.java
  backend/src/main/java/com/handong/rebon/member/presentation/dto/request/MemberCreateRequest.java
  backend/src/main/java/com/handong/rebon/member/presentation/dto/response/MemberCreateResponse.java
  backend/src/main/resources/application-test.yml
  backend/src/test/java/com/handong/rebon/acceptance/auth/AuthAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/acceptance/member/MemberCreateAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/acceptance/shop/ShopReadAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/integration/auth/AuthIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/review/ReviewDeleteIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/review/ReviewIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/tag/TagIntegrationTest.java
  backend/src/test/java/com/handong/rebon/unit/auth/JwtProviderTest.java
  backend/src/test/java/com/handong/rebon/unit/member/domain/MemberTest.java
  backend/src/test/java/com/handong/rebon/unit/oauth/ApiRequesterTest.java
  backend/src/test/java/com/handong/rebon/unit/oauth/OauthHandlerTest.java
  backend/src/test/java/com/handong/rebon/unit/review/domain/ReviewTest.java
Labels: backend, api
