Repository RE-BON/ReBoN, pull requests merged in 2022-08, with the labels that each got.

#266 footprint 페이지 api 연결
  FrontEnd/rebon-frontend/public/image/smallLogo.png
  FrontEnd/rebon-frontend/public/index.html
  FrontEnd/rebon-frontend/src/pages/Mypage/Footprint/index.js
Labels: frontend

#258 [#125] : 로깅 기능 구현
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/handong/rebon/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/handong/rebon/filters/LoggingFilter.java
  backend/src/main/java/com/handong/rebon/filters/RequestWrapper.java
  backend/src/main/java/com/handong/rebon/filters/ResponseWrapper.java
  backend/src/main/resources/appender/console-appender.xml
  backend/src/main/resources/logback-spring.xml
Labels: backend

#196 [#137] : 내가 찜한 가게 리스트 받아오기 API 구현
  backend/src/main/java/com/handong/rebon/member/domain/Member.java
  backend/src/main/java/com/handong/rebon/member/domain/repository/MemberRepository.java
  backend/src/main/java/com/handong/rebon/review/domain/repository/ReviewRepository.java
  backend/src/main/java/com/handong/rebon/shop/application/ShopService.java
  backend/src/main/java/com/handong/rebon/shop/application/dto/response/ShopSimpleResponseDto.java
  backend/src/main/java/com/handong/rebon/shop/application/dto/response/tag/ShopTagResponseDto.java
  backend/src/main/java/com/handong/rebon/shop/domain/like/Likes.java
  backend/src/main/java/com/handong/rebon/shop/domain/repository/ShopRepository.java
  backend/src/main/java/com/handong/rebon/shop/presentation/ApiShopController.java
  backend/src/test/java/com/handong/rebon/acceptance/shop/LikeShopReadAcceptanceTest.java
Labels: feature, backend, api

#271 [#138] : 회원 탈퇴 API 구현
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/handong/rebon/member/application/MemberService.java
  backend/src/main/java/com/handong/rebon/member/domain/Member.java
  backend/src/main/java/com/handong/rebon/member/domain/Profile.java
  backend/src/main/java/com/handong/rebon/member/presentation/ApiMemberController.java
  backend/src/test/java/com/handong/rebon/acceptance/member/MemberUpdateAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/integration/member/MemberUpdateIntegrationTest.java
Labels: feature, backend, api
