Repository RE-BON/ReBoN, pull requests merged in 2022-05, with the labels that each got.

#154 [#142]: 닉네임 중복 확인 여부
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/handong/rebon/exception/member/NicknameDuplicateException.java
  backend/src/main/java/com/handong/rebon/member/application/MemberService.java
  backend/src/main/java/com/handong/rebon/member/domain/Member.java
  backend/src/main/java/com/handong/rebon/member/domain/Profile.java
  backend/src/main/java/com/handong/rebon/member/domain/repository/MemberRepository.java
  backend/src/main/java/com/handong/rebon/member/presentation/MemberController.java
  backend/src/test/java/com/handong/rebon/acceptance/AcceptanceTest.java
  backend/src/test/java/com/handong/rebon/acceptance/AcceptanceUtils.java
  backend/src/test/java/com/handong/rebon/acceptance/auth/AuthAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/acceptance/category/CategoryReadAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/acceptance/member/MemberCreateAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/acceptance/shop/ShopReadAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/acceptance/tag/TagReadAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/integration/review/ReviewIntegrationTest.java
Labels: backend, api

#156 [#94]: 모든 origin에 대한 cors 허용
  backend/src/main/java/com/handong/rebon/config/WebConfig.java
Labels: backend, api

#157 [#108]: 컴포넌트 디자인 수정
  FrontEnd/rebon-frontend/public/image/search-icon.png
  FrontEnd/rebon-frontend/src/Router.js
  FrontEnd/rebon-frontend/src/components/Header/SearchModal/SearchBar.js
  FrontEnd/rebon-frontend/src/components/Header/SearchModal/index.js
  FrontEnd/rebon-frontend/src/pages/Mypage/Edit/index.js
  FrontEnd/rebon-frontend/src/pages/Post/PostModal/index.js
  FrontEnd/rebon-frontend/src/pages/Terms/index.js
  FrontEnd/rebon-frontend/src/pages/Terms/marketingModal.js
  FrontEnd/rebon-frontend/src/pages/Terms/privacyModal.js
  FrontEnd/rebon-frontend/src/pages/Terms/termsModal.js
  FrontEnd/rebon-frontend/src/styles/edit.css
  FrontEnd/rebon-frontend/src/styles/header-search-bar.css
  FrontEnd/rebon-frontend/src/styles/header-search-modal.css
  FrontEnd/rebon-frontend/src/styles/mypage.css
  FrontEnd/rebon-frontend/src/styles/post-modal.css
  FrontEnd/rebon-frontend/src/styles/post.css
  FrontEnd/rebon-frontend/src/styles/search-tags.css
  FrontEnd/rebon-frontend/src/styles/search.css
  FrontEnd/rebon-frontend/src/styles/terms-modal.css
  FrontEnd/rebon-frontend/src/styles/terms.css
Labels: frontend, style

#163 [#158]: mypage 모달 수정
  FrontEnd/rebon-frontend/src/pages/Mypage/Bookmark/index.js
  FrontEnd/rebon-frontend/src/pages/Mypage/Edit/index.js
  FrontEnd/rebon-frontend/src/pages/Mypage/Footprint/FootprintModal/index.js
  FrontEnd/rebon-frontend/src/pages/Mypage/Footprint/index.js
  FrontEnd/rebon-frontend/src/pages/Mypage/Withdrawal/index.js
  FrontEnd/rebon-frontend/src/pages/Mypage/index.js
  FrontEnd/rebon-frontend/src/styles/bookmark.css
  FrontEnd/rebon-frontend/src/styles/edit.css
  FrontEnd/rebon-frontend/src/styles/footprint.css
  FrontEnd/rebon-frontend/src/styles/header.css
  FrontEnd/rebon-frontend/src/styles/mypage.css
  FrontEnd/rebon-frontend/src/styles/withdrawal.css
Labels: frontend, style

#164 [#159]: terms 페이지 보완
  FrontEnd/rebon-frontend/src/pages/Terms/index.js
  FrontEnd/rebon-frontend/src/pages/Terms/marketingModal.js
  FrontEnd/rebon-frontend/src/pages/Terms/privacyModal.js
  FrontEnd/rebon-frontend/src/pages/Terms/termsModal.js
Labels: frontend, style

#161 [#134] 인가기능
  backend/src/main/java/com/handong/rebon/auth/application/AuthService.java
  backend/src/main/java/com/handong/rebon/auth/domain/Login.java
  backend/src/main/java/com/handong/rebon/auth/domain/LoginMember.java
  backend/src/main/java/com/handong/rebon/auth/domain/RequiredLogin.java
  backend/src/main/java/com/handong/rebon/auth/infrastructure/JwtProvider.java
  backend/src/main/java/com/handong/rebon/auth/presentation/LoginInterceptor.java
  backend/src/main/java/com/handong/rebon/auth/presentation/LoginMemberArgumentResolver.java
  backend/src/main/java/com/handong/rebon/config/WebConfig.java
  backend/src/main/java/com/handong/rebon/exception/authorization/AuthorizationException.java
  backend/src/main/java/com/handong/rebon/exception/authorization/AuthorizationHeaderException.java
  backend/src/main/java/com/handong/rebon/exception/authorization/InvalidTokenException.java
  backend/src/main/java/com/handong/rebon/member/application/MemberService.java
  backend/src/main/java/com/handong/rebon/review/application/dto/request/ReviewCreateRequestDto.java
  backend/src/main/java/com/handong/rebon/review/application/dto/request/ReviewGetByShopRequestDto.java
  backend/src/main/java/com/handong/rebon/review/presentation/ApiReviewController.java
  backend/src/main/java/com/handong/rebon/review/presentation/dto/response/ReviewGetByShopResponse.java
  backend/src/main/java/com/handong/rebon/util/AuthorizationExtractor.java
  backend/src/test/java/com/handong/rebon/acceptance/AcceptanceTest.java
  backend/src/test/java/com/handong/rebon/acceptance/auth/AuthAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/acceptance/member/MemberCreateAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/controller/ControllerTest.java
  backend/src/test/java/com/handong/rebon/controller/auth/AuthorizationInterceptorTest.java
  backend/src/test/java/com/handong/rebon/unit/auth/JwtProviderTest.java
Labels: backend, api

#152 feat[#6]: 태그 삭제 기능
  backend/src/main/java/com/handong/rebon/shop/domain/Shop.java
  backend/src/main/java/com/handong/rebon/shop/domain/tag/ShopTag.java
  backend/src/main/java/com/handong/rebon/tag/application/TagService.java
  backend/src/main/java/com/handong/rebon/tag/domain/Tag.java
  backend/src/test/java/com/handong/rebon/integration/tag/TagDeleteIntegrationTest.java
Labels: backend, admin

#162 자동완성 기능 구현
  backend/build.gradle
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/handong/rebon/RebonApplication.java
  backend/src/main/java/com/handong/rebon/common/BaseEntity.java
  backend/src/main/java/com/handong/rebon/common/TempDataInitializer.java
  backend/src/main/java/com/handong/rebon/config/ElasticSearchConfig.java
  backend/src/main/java/com/handong/rebon/config/JpaConfig.java
  backend/src/main/java/com/handong/rebon/tag/application/TagService.java
  backend/src/main/java/com/handong/rebon/tag/application/dto/response/TagResponseDto.java
  backend/src/main/java/com/handong/rebon/tag/domain/Tag.java
  backend/src/main/java/com/handong/rebon/tag/domain/repository/CustomTagSearchRepository.java
  backend/src/main/java/com/handong/rebon/tag/domain/repository/CustomTagSearchRepositoryImpl.java
  backend/src/main/java/com/handong/rebon/tag/domain/repository/TagSearchRepository.java
  backend/src/main/java/com/handong/rebon/tag/presentation/ApiTagController.java
  backend/src/main/java/com/handong/rebon/tag/presentation/dto/response/TagResponse.java
  backend/src/main/resources/application-test.yml
  backend/src/main/resources/application.yml
  backend/src/main/resources/elasticsearch/mappings/mappings.json
  backend/src/main/resources/elasticsearch/settings/settings.json
  backend/src/test/java/com/handong/rebon/acceptance/AcceptanceTest.java
  backend/src/test/java/com/handong/rebon/acceptance/tag/TagElasticSearchAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/common/admin/AdminTagRegister.java
  backend/src/test/java/com/handong/rebon/config/NotUseElasticSearchConfig.java
  backend/src/test/java/com/handong/rebon/config/TestElasticSearchConfig.java
  backend/src/test/java/com/handong/rebon/controller/ControllerTest.java
  backend/src/test/java/com/handong/rebon/integration/IntegrationTest.java
Labels: feature, backend, api

#170 LazyInitializationException 예외 발생 문제 해결
  backend/src/test/java/com/handong/rebon/controller/ControllerTest.java
  backend/src/test/java/com/handong/rebon/controller/auth/AuthorizationInterceptorTest.java
Labels: backend, fix, test

#166 영업중인 가게 조회 조건 추가
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/handong/rebon/shop/application/ShopService.java
  backend/src/main/java/com/handong/rebon/shop/application/adapter/CafeServiceAdapter.java
  backend/src/main/java/com/handong/rebon/shop/application/adapter/LodgingServiceAdapter.java
  backend/src/main/java/com/handong/rebon/shop/application/adapter/RestaurantServiceAdapter.java
  backend/src/main/java/com/handong/rebon/shop/application/dto/request/ShopRequestDto.java
  backend/src/main/java/com/handong/rebon/shop/application/dto/request/ShopSearchDto.java
  backend/src/main/java/com/handong/rebon/shop/domain/ShopSearchCondition.java
  backend/src/main/java/com/handong/rebon/shop/domain/content/ShopContent.java
  backend/src/main/java/com/handong/rebon/shop/domain/repository/ShopRepositoryCustomImpl.java
  backend/src/main/java/com/handong/rebon/shop/presentation/dto/request/ShopRequest.java
  backend/src/main/java/com/handong/rebon/shop/presentation/dto/request/ShopSearchRequest.java
  backend/src/main/java/com/handong/rebon/util/StringUtil.java
  backend/src/test/java/com/handong/rebon/acceptance/shop/ShopReadAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/common/admin/AdminShopRegister.java
  backend/src/test/java/com/handong/rebon/integration/review/ReviewIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/shop/ShopIntegrationTest.java
  backend/src/test/java/com/handong/rebon/unit/shop/domain/repository/ShopRepositoryCustomImplTest.java
Labels: feature, backend

#167 가게 like, unlike 구현
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/handong/rebon/member/domain/Member.java
  backend/src/main/java/com/handong/rebon/member/presentation/dto/response/MemberCreateResponse.java
  backend/src/main/java/com/handong/rebon/shop/application/ShopService.java
  backend/src/main/java/com/handong/rebon/shop/application/dto/request/ShopLikeRequestDto.java
  backend/src/main/java/com/handong/rebon/shop/application/dto/response/ShopLikeResponseDto.java
  backend/src/main/java/com/handong/rebon/shop/domain/Shop.java
  backend/src/main/java/com/handong/rebon/shop/domain/like/Likes.java
  backend/src/main/java/com/handong/rebon/shop/presentation/ApiShopController.java
  backend/src/main/java/com/handong/rebon/shop/presentation/dto/response/ShopLikeResponse.java
  backend/src/test/java/com/handong/rebon/acceptance/AcceptanceTest.java
  backend/src/test/java/com/handong/rebon/acceptance/shop/ShopLikeAcceptanceTest.java
Labels: feature, backend, api

#168 인기 태그 조회 api
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/handong/rebon/shop/application/ShopService.java
  backend/src/main/java/com/handong/rebon/tag/application/TagService.java
  backend/src/main/java/com/handong/rebon/tag/application/dto/TagDtoAssembler.java
  backend/src/main/java/com/handong/rebon/tag/application/dto/response/TagResponseDto.java
  backend/src/main/java/com/handong/rebon/tag/domain/Tag.java
  backend/src/main/java/com/handong/rebon/tag/domain/repository/TagRepository.java
  backend/src/main/java/com/handong/rebon/tag/presentation/ApiTagController.java
  backend/src/main/java/com/handong/rebon/tag/presentation/dto/TagAssembler.java
  backend/src/main/java/com/handong/rebon/tag/presentation/dto/response/TagResponse.java
  backend/src/test/java/com/handong/rebon/acceptance/shop/ShopReadAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/acceptance/tag/TagReadAcceptanceTest.java
Labels: feature, backend, api
