Repository RE-BON/ReBoN, pull requests merged in 2022-03, with the labels that each got.

#31 feat[#27] : 프론트엔드 환경설정
  FrontEnd/rebon-frontend/README.md
  FrontEnd/rebon-frontend/package-lock.json
  FrontEnd/rebon-frontend/package.json
  FrontEnd/rebon-frontend/src/.prettierrc
  FrontEnd/rebon-frontend/src/App.css
  FrontEnd/rebon-frontend/src/App.js
  FrontEnd/rebon-frontend/src/App.test.js
  FrontEnd/rebon-frontend/src/index.css
  FrontEnd/rebon-frontend/src/index.js
  FrontEnd/rebon-frontend/src/logo.svg
  FrontEnd/rebon-frontend/src/reportWebVitals.js
  FrontEnd/rebon-frontend/src/setupTests.js
Labels: feature, frontend

#33 [#1] 백엔드 초기 환경 설정
  .github/ISSUE_TEMPLATE/basic-issue-template-.md
  .github/PULL_REQUEST_TEMPLATE/basic-pr-template-.md
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/handong/rebon/RebonApplication.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/handong/rebon/RebonApplicationTests.java
Labels: backend

#34 [#2] 패키지 구조 결정 & 도메인 생성
  backend/src/main/java/com/handong/rebon/member/domain/Member.java
  backend/src/main/java/com/handong/rebon/member/domain/Profile.java
  backend/src/main/java/com/handong/rebon/menu/domain/Menu.java
  backend/src/main/java/com/handong/rebon/menu/domain/MenuGroup.java
  backend/src/main/java/com/handong/rebon/review/domain/Review.java
  backend/src/main/java/com/handong/rebon/review/domain/content/ReviewContent.java
  backend/src/main/java/com/handong/rebon/review/domain/content/ReviewImage.java
  backend/src/main/java/com/handong/rebon/review/domain/content/ReviewImages.java
  backend/src/main/java/com/handong/rebon/review/domain/content/ReviewScore.java
  backend/src/main/java/com/handong/rebon/review/domain/empathy/Empathy.java
  backend/src/main/java/com/handong/rebon/shop/domain/Location.java
  backend/src/main/java/com/handong/rebon/shop/domain/category/Categories.java
  backend/src/main/java/com/handong/rebon/shop/domain/category/Category.java
  backend/src/main/java/com/handong/rebon/shop/domain/content/ShopContent.java
  backend/src/main/java/com/handong/rebon/shop/domain/content/ShopImage.java
  backend/src/main/java/com/handong/rebon/shop/domain/content/ShopImages.java
  backend/src/main/java/com/handong/rebon/shop/domain/content/ShopScore.java
  backend/src/main/java/com/handong/rebon/shop/domain/item/Cafe.java
  backend/src/main/java/com/handong/rebon/shop/domain/item/Lodging.java
  backend/src/main/java/com/handong/rebon/shop/domain/item/Restaurant.java
  backend/src/main/java/com/handong/rebon/shop/domain/item/Shop.java
  backend/src/main/java/com/handong/rebon/shop/domain/item/Shops.java
  backend/src/main/java/com/handong/rebon/shop/domain/like/Like.java
  backend/src/main/java/com/handong/rebon/shop/domain/tag/ShopTag.java
  backend/src/main/java/com/handong/rebon/shop/domain/tag/Tag.java
  backend/src/main/resources/application.yml
Labels: backend

#42 [#30]: Header 레이아웃 생성
  FrontEnd/rebon-frontend/package-lock.json
  FrontEnd/rebon-frontend/package.json
  FrontEnd/rebon-frontend/src/App.js
  FrontEnd/rebon-frontend/src/Components/Header/SearchBar.js
  FrontEnd/rebon-frontend/src/Components/Header/SearchModal.js
  FrontEnd/rebon-frontend/src/Components/Header/index.js
  FrontEnd/rebon-frontend/src/Pages/Begin/index.js
Labels: frontend, style

#52 Fe/style/header
  FrontEnd/rebon-frontend/package-lock.json
  FrontEnd/rebon-frontend/src/Router.js
  FrontEnd/rebon-frontend/src/components/Header/SearchModal/SearchBar.js
  FrontEnd/rebon-frontend/src/components/Header/SearchModal/index.js
  FrontEnd/rebon-frontend/src/components/Header/index.js
  FrontEnd/rebon-frontend/src/styles/header-search-bar.css
  FrontEnd/rebon-frontend/src/styles/header-search-modal.css
  FrontEnd/rebon-frontend/src/styles/header.css
Labels: frontend, style

#57 feat[#32]: detail 레이아웃 생성
  FrontEnd/rebon-frontend/package-lock.json
  FrontEnd/rebon-frontend/package.json
  FrontEnd/rebon-frontend/src/styles/review.css
Labels: feature, frontend, style

#68 [#10]: 관리자 페이지 기본 틀 추가
  backend/build.gradle
  backend/src/main/java/com/handong/rebon/common/AdminHomeController.java
  backend/src/main/resources/static/css/bootstrap-grid.css
  backend/src/main/resources/static/css/bootstrap-grid.css.map
  backend/src/main/resources/static/css/bootstrap-grid.min.css
  backend/src/main/resources/static/css/bootstrap-grid.min.css.map
  backend/src/main/resources/static/css/bootstrap-grid.rtl.css
  backend/src/main/resources/static/css/bootstrap-grid.rtl.css.map
  backend/src/main/resources/static/css/bootstrap-grid.rtl.min.css
  backend/src/main/resources/static/css/bootstrap-grid.rtl.min.css.map
  backend/src/main/resources/static/css/bootstrap-reboot.css
  backend/src/main/resources/static/css/bootstrap-reboot.css.map
  backend/src/main/resources/static/css/bootstrap-reboot.min.css
  backend/src/main/resources/static/css/bootstrap-reboot.min.css.map
  backend/src/main/resources/static/css/bootstrap-reboot.rtl.css
  backend/src/main/resources/static/css/bootstrap-reboot.rtl.css.map
  backend/src/main/resources/static/css/bootstrap-reboot.rtl.min.css
  backend/src/main/resources/static/css/bootstrap-reboot.rtl.min.css.map
  backend/src/main/resources/static/css/bootstrap-utilities.css
  backend/src/main/resources/static/css/bootstrap-utilities.css.map
  backend/src/main/resources/static/css/bootstrap-utilities.min.css
  backend/src/main/resources/static/css/bootstrap-utilities.min.css.map
  backend/src/main/resources/static/css/bootstrap-utilities.rtl.css
  backend/src/main/resources/static/css/bootstrap-utilities.rtl.css.map
  backend/src/main/resources/static/css/bootstrap-utilities.rtl.min.css
  backend/src/main/resources/static/css/bootstrap-utilities.rtl.min.css.map
  backend/src/main/resources/static/css/bootstrap.css
  backend/src/main/resources/static/css/bootstrap.css.map
  backend/src/main/resources/static/css/bootstrap.min.css
  backend/src/main/resources/static/css/bootstrap.min.css.map
  backend/src/main/resources/static/css/bootstrap.rtl.css
  backend/src/main/resources/static/css/bootstrap.rtl.css.map
  backend/src/main/resources/static/css/bootstrap.rtl.min.css
  backend/src/main/resources/static/css/bootstrap.rtl.min.css.map
  backend/src/main/resources/static/css/jumbotron-narrow.css
  backend/src/main/resources/static/js/bootstrap.bundle.js
  backend/src/main/resources/static/js/bootstrap.bundle.js.map
  backend/src/main/resources/static/js/bootstrap.bundle.min.js
  backend/src/main/resources/static/js/bootstrap.bundle.min.js.map
  backend/src/main/resources/static/js/bootstrap.esm.js
  backend/src/main/resources/static/js/bootstrap.esm.js.map
  backend/src/main/resources/static/js/bootstrap.esm.min.js
  backend/src/main/resources/static/js/bootstrap.esm.min.js.map
  backend/src/main/resources/static/js/bootstrap.js
  backend/src/main/resources/static/js/bootstrap.js.map
  backend/src/main/resources/static/js/bootstrap.min.js
  backend/src/main/resources/static/js/bootstrap.min.js.map
  backend/src/main/resources/templates/fragments/bodyHeader.html
  backend/src/main/resources/templates/fragments/footer.html
  backend/src/main/resources/templates/fragments/header.html
  backend/src/main/resources/templates/home.html
Labels: feature, backend, admin

#58 [#4] 카테고리 생성 기능 구현
  backend/src/main/java/com/handong/rebon/category/Categories.java
  backend/src/main/java/com/handong/rebon/category/Category.java
  backend/src/main/java/com/handong/rebon/category/CategoryRepository.java
  backend/src/main/java/com/handong/rebon/category/CategoryService.java
  backend/src/main/java/com/handong/rebon/category/application/CategoryService.java
  backend/src/main/java/com/handong/rebon/category/application/dto/CategoryRequestDto.java
  backend/src/main/java/com/handong/rebon/category/domain/Categories.java
  backend/src/main/java/com/handong/rebon/category/domain/Category.java
  backend/src/main/java/com/handong/rebon/category/domain/repository/CategoryRepository.java
  backend/src/main/java/com/handong/rebon/exception/category/CategoryException.java
  backend/src/main/java/com/handong/rebon/exception/category/CategoryExistException.java
  backend/src/main/java/com/handong/rebon/exception/category/CategoryNameException.java
  backend/src/main/java/com/handong/rebon/exception/category/CategoryNoParentException.java
  backend/src/main/java/com/handong/rebon/member/domain/Member.java
  backend/src/main/java/com/handong/rebon/member/domain/Profile.java
  backend/src/main/java/com/handong/rebon/member/repository/MemberRepository.java
  backend/src/main/java/com/handong/rebon/review/application/ReviewService.java
  backend/src/main/java/com/handong/rebon/shop/application/ShopAdapterService.java
  backend/src/main/java/com/handong/rebon/shop/application/ShopService.java
  backend/src/main/java/com/handong/rebon/shop/application/adapter/CafeServiceAdapter.java
  backend/src/main/java/com/handong/rebon/shop/application/adapter/LodgingServiceAdapter.java
  backend/src/main/java/com/handong/rebon/shop/application/adapter/RestaurantServiceAdapter.java
  backend/src/main/java/com/handong/rebon/shop/application/adapter/ShopServiceAdapter.java
  backend/src/main/java/com/handong/rebon/shop/domain/Shop.java
  backend/src/main/java/com/handong/rebon/shop/domain/category/ShopCategory.java
  backend/src/main/java/com/handong/rebon/shop/domain/type/Cafe.java
  backend/src/main/java/com/handong/rebon/shop/domain/type/Lodging.java
  backend/src/main/java/com/handong/rebon/shop/domain/type/Restaurant.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/handong/rebon/integration/category/CategoryIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/review/ReviewIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/shop/ShopIntegrationTest.java
  backend/src/test/java/com/handong/rebon/unit/category/domain/CategoryTest.java
  backend/src/test/java/com/handong/rebon/unit/shop/application/adapter/CafeAdapterTest.java
  backend/src/test/java/com/handong/rebon/unit/shop/application/adapter/LodgingAdapterTest.java
  backend/src/test/java/com/handong/rebon/unit/shop/application/adapter/RestaurantAdapterTest.java
  backend/src/test/java/com/handong/rebon/unit/shop/domain/ShopTest.java
Labels: feature, backend, admin

#60 [#3]: 태그 생성 기능
  .DS_Store
  backend/src/main/java/com/handong/rebon/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/handong/rebon/exception/RebonException.java
  backend/src/main/java/com/handong/rebon/exception/tag/TagException.java
  backend/src/main/java/com/handong/rebon/exception/tag/TagExistException.java
  backend/src/main/java/com/handong/rebon/exception/tag/TagNameException.java
  backend/src/main/java/com/handong/rebon/member/application/MemberService.java
  backend/src/main/java/com/handong/rebon/shop/domain/item/Shop.java
  backend/src/main/java/com/handong/rebon/tag/ShopTag.java
  backend/src/main/java/com/handong/rebon/tag/application/ShopTagService.java
  backend/src/main/java/com/handong/rebon/tag/application/TagService.java
  backend/src/main/java/com/handong/rebon/tag/domain/ShopTag.java
  backend/src/main/java/com/handong/rebon/tag/domain/Tag.java
  backend/src/main/java/com/handong/rebon/tag/domain/repository/ShopTagRepository.java
  backend/src/main/java/com/handong/rebon/tag/domain/repository/TagRepository.java
  backend/src/main/java/com/handong/rebon/tag/presentation/AdminTagController.java
  backend/src/test/java/com/handong/rebon/integration/review/ReviewIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/tag/TagIntegrationTest.java
  backend/src/test/java/com/handong/rebon/unit/tag/domain/TagTest.java
Labels: feature, backend, admin

#87 [#76] 엔티티 필드 수정
  backend/src/main/java/com/handong/rebon/exception/review/ReviewTitleFormatException.java
  backend/src/main/java/com/handong/rebon/member/domain/Member.java
  backend/src/main/java/com/handong/rebon/member/domain/Profile.java
  backend/src/main/java/com/handong/rebon/review/application/dto/request/ReviewCreateRequestDto.java
  backend/src/main/java/com/handong/rebon/review/application/dto/response/ReviewResponseDto.java
  backend/src/main/java/com/handong/rebon/review/domain/content/ReviewContent.java
  backend/src/main/java/com/handong/rebon/review/domain/content/ReviewScore.java
  backend/src/main/java/com/handong/rebon/review/presentation/dto/ReviewAssembler.java
  backend/src/main/java/com/handong/rebon/review/presentation/dto/request/ReviewRequest.java
  backend/src/main/java/com/handong/rebon/review/presentation/dto/response/ReviewResponse.java
  backend/src/test/java/com/handong/rebon/integration/review/ReviewIntegrationTest.java
  backend/src/test/java/com/handong/rebon/unit/review/domain/content/ReviewContentTest.java
  backend/src/test/java/com/handong/rebon/unit/review/domain/content/ReviewScoreTest.java
Labels: backend, refactor

#89 [#67] 단일 가게 조회 api 구현
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/handong/rebon/common/TempDataInitializer.java
  backend/src/main/java/com/handong/rebon/exception/shop/NoSuchShopException.java
  backend/src/main/java/com/handong/rebon/review/application/ReviewService.java
  backend/src/main/java/com/handong/rebon/shop/application/ShopService.java
  backend/src/main/java/com/handong/rebon/shop/application/adapter/CafeServiceAdapter.java
  backend/src/main/java/com/handong/rebon/shop/application/adapter/LodgingServiceAdapter.java
  backend/src/main/java/com/handong/rebon/shop/application/adapter/RestaurantServiceAdapter.java
  backend/src/main/java/com/handong/rebon/shop/application/adapter/ShopServiceAdapter.java
  backend/src/main/java/com/handong/rebon/shop/application/dto/request/ShopCreateRequestDto.java
  backend/src/main/java/com/handong/rebon/shop/application/dto/response/ShopResponseDto.java
  backend/src/main/java/com/handong/rebon/shop/application/dto/response/ShopSimpleResponseDto.java
  backend/src/main/java/com/handong/rebon/shop/application/dto/response/category/ShopCategoryResponseDto.java
  backend/src/main/java/com/handong/rebon/shop/application/dto/response/image/ShopImageResponseDto.java
  backend/src/main/java/com/handong/rebon/shop/application/dto/response/menu/MenuGroupResponseDto.java
  backend/src/main/java/com/handong/rebon/shop/application/dto/response/menu/MenuResponseDto.java
  backend/src/main/java/com/handong/rebon/shop/application/dto/response/tag/ShopTagResponseDto.java
  backend/src/main/java/com/handong/rebon/shop/domain/category/ShopCategory.java
  backend/src/main/java/com/handong/rebon/shop/domain/content/ShopImages.java
  backend/src/main/java/com/handong/rebon/shop/domain/location/Location.java
  backend/src/main/java/com/handong/rebon/shop/domain/menu/Menu.java
  backend/src/main/java/com/handong/rebon/shop/domain/type/Cafe.java
  backend/src/main/java/com/handong/rebon/shop/domain/type/Restaurant.java
  backend/src/main/java/com/handong/rebon/shop/presentation/ApiShopController.java
  backend/src/main/java/com/handong/rebon/shop/presentation/dto/response/ShopResponse.java
  backend/src/main/java/com/handong/rebon/shop/presentation/dto/response/ShopSimpleResponse.java
  backend/src/main/java/com/handong/rebon/shop/presentation/dto/response/category/ShopCategoryResponse.java
  backend/src/main/java/com/handong/rebon/shop/presentation/dto/response/image/ShopImageResponse.java
  backend/src/main/java/com/handong/rebon/shop/presentation/dto/response/menu/MenuGroupResponse.java
  backend/src/main/java/com/handong/rebon/shop/presentation/dto/response/menu/MenuResponse.java
  backend/src/main/java/com/handong/rebon/shop/presentation/dto/response/tag/ShopTagResponse.java
  backend/src/test/java/com/handong/rebon/acceptance/admin/AdminShopRegister.java
  backend/src/test/java/com/handong/rebon/acceptance/shop/ShopReadAcceptanceTest.java
  backend/src/test/java/com/handong/rebon/unit/shop/domain/type/CafeTest.java
  backend/src/test/java/com/handong/rebon/unit/shop/domain/type/RestaurantTest.java
Labels: feature, backend, api
