Repository RE-BON/ReBoN, pull requests merged in 2022-06, with the labels that each got.

#192 Detail&Review 페이지 데이터 연결
  FrontEnd/rebon-frontend/package-lock.json
  FrontEnd/rebon-frontend/package.json
  FrontEnd/rebon-frontend/public/image/shop_icon.png
  FrontEnd/rebon-frontend/src/Router.js
  FrontEnd/rebon-frontend/src/pages/Detail/Review/index.js
  FrontEnd/rebon-frontend/src/pages/Detail/index.js
  FrontEnd/rebon-frontend/src/styles/detail.css
  FrontEnd/rebon-frontend/src/styles/review.css
  FrontEnd/rebon-frontend/src/styles/toggle.css
Labels: frontend

#171 [#11] : 카테고리 수정 기능 구현
  backend/src/main/java/com/handong/rebon/category/application/CategoryService.java
  backend/src/main/java/com/handong/rebon/category/application/dto/request/CategoryRequestDto.java
  backend/src/main/java/com/handong/rebon/category/application/dto/request/CategoryUpdateRequestDto.java
  backend/src/main/java/com/handong/rebon/category/domain/Categories.java
  backend/src/main/java/com/handong/rebon/category/domain/Category.java
  backend/src/main/java/com/handong/rebon/category/domain/repository/CategoryRepository.java
  backend/src/main/java/com/handong/rebon/category/presentation/AdminCategoryController.java
  backend/src/main/java/com/handong/rebon/category/presentation/dto/CategoryAssembler.java
  backend/src/main/java/com/handong/rebon/category/presentation/dto/request/CategoryCreateRequest.java
  backend/src/main/java/com/handong/rebon/category/presentation/dto/request/CategoryRequest.java
  backend/src/main/java/com/handong/rebon/exception/category/CategoryAlreadyDeletedException.java
  backend/src/main/java/com/handong/rebon/exception/category/CategoryExistException.java
  backend/src/main/java/com/handong/rebon/exception/category/CategoryNameException.java
  backend/src/main/java/com/handong/rebon/exception/category/CategoryNotFoundException.java
  backend/src/main/java/com/handong/rebon/exception/category/CategoryParentIdNullException.java
  backend/src/test/java/com/handong/rebon/integration/category/CategoryCreateIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/category/CategoryDeleteIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/category/CategoryIntegrationTest.java
  backend/src/test/java/com/handong/rebon/integration/category/CategoryUpdateIntegrationTest.java
  backend/src/test/java/com/handong/rebon/unit/category/domain/CategoryTest.java
Labels: feature, backend, admin

#201 [#200] Detail 페이지 지도 구현
  FrontEnd/rebon-frontend/public/index.html
  FrontEnd/rebon-frontend/src/pages/Detail/Map/index.js
  FrontEnd/rebon-frontend/src/pages/Detail/index.js
  FrontEnd/rebon-frontend/src/styles/detail.css
Labels: feature, frontend, style

#211 [#206] Review 페이지 데이터 연결
  FrontEnd/rebon-frontend/package.json
  FrontEnd/rebon-frontend/public/index.html
  FrontEnd/rebon-frontend/src/pages/Detail/Map/index.js
  FrontEnd/rebon-frontend/src/pages/Detail/Review/ReviewContent/index.js
  FrontEnd/rebon-frontend/src/pages/Detail/Review/ReviewStar/index.js
  FrontEnd/rebon-frontend/src/pages/Detail/Review/index.js
  FrontEnd/rebon-frontend/src/pages/Detail/index.js
  FrontEnd/rebon-frontend/src/pages/Mypage/Footprint/index.js
  FrontEnd/rebon-frontend/src/styles/detail.css
  FrontEnd/rebon-frontend/src/styles/footprint-modal.css
  FrontEnd/rebon-frontend/src/styles/footprint.css
  FrontEnd/rebon-frontend/src/styles/review.css
Labels: frontend

#215 [#214]: header api 연결, 디테일 수정
  FrontEnd/rebon-frontend/src/components/Header/SearchModal/index.js
  FrontEnd/rebon-frontend/src/pages/Mypage/Edit/index.js
  FrontEnd/rebon-frontend/src/pages/Search/Tags/index.js
Labels: frontend, api
